<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="DataContext" connectionString="Server=tcp:rickardkamel-220638.mssql.binero.se:1433;Database=220638-rickardkamel;Integrated Security=False;User ID=220638_pi33229;Connect Timeout=30;Encrypt=False;Packet Size=4096" providerName="System.Data.SqlClient"/>-->

    <!--<add name="DataModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DataService.DataModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="DataContext" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=DataService.DataContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
